node_modules/
npm-debug.log
yarn-error.log
.env
public/originales/
public/uploads/
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
public/files/
!writable/.htaccess
# /writable/*
app/Config/Database.php
app/Config/Email.php

*.sql
!migracion_completa.sql